<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>Shubham Santosh Kumar</h2>
        <img src="/Pictures/My Pic.JPG" width="250" height="200">
        <!--
        {% if site.logo %} 
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      -->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div id="contact">
          <h1>Contact</h1>
          <!-- Email -->
          <p>
              <a href="mailto:shubhamsantosh99@gmail.com">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAV1BMVEVHcEzZUUXXd2/z9PTeU0fZbmbo5+f0+vrx8vLbQjPaSz7WTkHotLHBOyzDTkPAOCjhhX7ZeHHEo6DqzMrFxcS8cGrae3Ti4uLMdm/p6urQ1NS8OSrl5eWBeqqfAAAAHXRSTlMAc5qd//z//////6Pxof3//+n////y6P/z//9ysazRhhoAAADtSURBVHgB1ZJXgoMwDERTXEUH7wo5uf85Y4mOyQEyCXXevC9uP5L74/klj7v0SmljXRZrtAcmCqWULzPClt4DFDOgIEmyeUrFQM0ES85zgEYAqGtgonUzYp3Mfd3MAHQ9OwAGIewgNYS/FfjHMC4S61rpx4A7gDD0MEkG4B76iDRugEEMQXuWeFDgdYhoTgCG2INYeJ76DEhEksA0R5MbmIi99zxHk+I2oJsAjDEGnvPekMsMTMiF97Qz+MWAfJ33RDlgnKNZQFcAOWJC/FdAaoWQPgcM1zNBR+DFgHTLfwe85KMsHu/LPCrufyEfyewjNsxN1fgAAAAASUVORK5CYII=" alt="G-mail">
                  shubhamsantosh99@gmail.com
              </a>
          </p>
      
          <!-- LinkedIn -->
          <p>
              <a href="https://www.linkedin.com/in/shubham-santosh-kumar-639a86167/">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAATlBMVEVHcEwAd7UAd7UAd7UAd7UAd7UAd7UAd7UAd7UAd7X///8CcLIAaa5Nj8Hn8/lypMyawNw6hby81+j0+/0ZeLXT5fBnnchdlcOLtNWxzePrILPNAAAACnRSTlMAUn3/Gpo9+Wne3pzmuwAAAMZJREFUKJHNk9sWgiAQRcfQjIZrIOr//2gzRK6K8b3z4JG1UeYGAFz03EtPwNLqRCPAdMaUBmBDg0agV4ZYXAoCvTHMd5JHEaJn+Og/rTAy3GSojE9pPztTGczMELGGbvATRlJWmc3EbQ++7mq/dXTmipbDWhMH4OI3tBUulZEbAR6yKEBXbKiZSXClMi/knNovdJmWoRWsg/j/MB21TV0qWLz31BV6Fl5aeuHyDXVssXXyZe/GKoCxn4CmgSZ+lG7DrPQV4AnbbBfzU77xIAAAAABJRU5ErkJggg==" alt="LinkedIn Logo">
                  LinkedIn
              </a>
          </p>
      
          <!-- Hackster -->
          <p>
              <a href="https://www.hackster.io/shubhamsantosh99">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAUVBMVEUUrfcTrfcAqvc9uPgpsvim3Pzc8v7///99zfqa1/t3y/qEz/vQ7P2S1Ptlxfn2/f+M0vsxtfhRv/lgwvlIu/gAqffF6P2i2vxwyfrr9/6+5f25NSgHAAAAt0lEQVR4AbyRRRLEMAwE5THIDjP9/6GrZCGc4/a1a4T0N9SDA7S5SCwRbR17HGsBs0Vg5ggHp+NkDiA9S2Q5c3EtpV5ZViVdScDUIblONsHlLBStYOq6NpuSPqRFJzLprdD3tqHVAmg9bzhOG2/lIOWhtn0/JCK7YG1Bq13maKV+ysI4Fc2hbLqskidFowC6kFQ2ZbkWPCQL5jzDjfRJrEmdZRCp5nbnss7q9eU7lCmB1/CmK3oBACTpCPqGfR2gAAAAAElFTkSuQmCC" alt="Hackster Logo">
                  Embedded Project portfolio
              </a>
          </p>
      </div>      
      </footer>
    </div>
    
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>